{% extends "index.html" %}
{% block content %}
<!--center-->
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel-heading">About</div>
        <hr>
        <p>"Helping others to learn is the best way to develop mastery." Build on this principle, this website is for people to share what they know and ask what they don't. Our mission is to help people discover and create novel and valuable content. It's a social site with less 'likes for pictures' and more 'discussion on content'.</p>
        <p>Want to join us in our mission, give us your feedback or just want to say hello? please <a href="{% url 'feedback' %}">click here.</a></p>


    </div>
    </div>

 

    <hr>
  </div><!--/center-->
{% endblock %}

