{% extends "index.html" %}
{% block content %}
<!--center-->
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel-heading">Usage Policy</div>
        <hr>
        <ul>
          <li>Usage of our site (including all of its contents) is free and available for anyone for personal usage.</li>
          <li>This site may not be used by anyone with the intention to track usage, log ip addresses/usage, commit fraud or anything else that we consider intrusion of privacy and disruption of our service.</li>
          <li>Please do respect each other so that we all continue to enjoy our time here.</li>
          <li>The responsibility lies upon the user to not spread malicious, false or illegal material using the site.</li>
          <li>We do not censor but we do block people that use our service wrongfully (i.e harassing other users or posting illegal material).
          <li>This site is run privately. That means that we do not guarantee that the site will be available for users at all time but we try our best to make the site run stable.</li>
          <li>This policy may change at any time, please check in before using the site.</li>
          <li>Logging In to this site means that you accept this policy agreement.</li>




    </div>
    </div>

 

    <hr>
  </div><!--/center-->
{% endblock %}

